html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

:root {
  --primary-color: #F05841;
  --power-color: #132fcc;
  --economy-color: #1dbb2a;
}

[class*= "container"] {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media(max-width: 1400px) {
      max-width: 1120px;
  }
}

[class*= "bgAdmin"]{
  background-color: #d9ecf5;
}

[class*= "bgPrimary"]{
  background-color: var(--primary-color);
}

[class*= "primary"]{
  color: var(--primary-color);
}

[class*= "health"]{
  color: var(--primary-color);
}

[class*= "power"]{
  color: var(--power-color);
}

[class*= "economy"]{
  color: var(--economy-color);
}

.menuOption{
  color:#fff;
  text-transform: uppercase;
}

.secondSectionTitle{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 20px;
}